In [ ]:
## 멜론 노래 순위 정보 크롤링
# url='https://www.melon.com/chart/index.htm'

In [3]:
from selenium import webdriver
driver=webdriver.Chrome('c:\webdriver\chromedriver.exe')
url='https://www.melon.com/chart/index.htm'

driver.get(url)

C:\Users\djagk\AppData\Local\Temp\ipykernel_12972\3924303432.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('c:\webdriver\chromedriver.exe')

In [4]:
from bs4 import BeautifulSoup
html=driver.page_source
soup=BeautifulSoup(html,'html.parser')

In [ ]:
songs=soup.select('tr')[1:]
for song in songs:
    title=song.select('.ellipsis.rank01>span>a')[0].text
    artist=song.select('.ellipsis.rank02>a')[0].text
    print(title,'\t\t\t', artist)

In [ ]:
song_data=[]
rank=1
for song in songs:
    title=song.select('.ellipsis.rank01>span>a')[0].text
    artist=song.select('.ellipsis.rank02>a')[0].text
    song_data.append(['Melon',rank,title,artist])
    rank+=1
song_data

In [12]:
##DF로 만들어 사용
import pandas as pd
df_col=['서비스','순위','타이틀','가수']
pd_df=pd.DataFrame(song_data,columns=df_col)
pd_df

      서비스   순위                                    타이틀            가수
0   Melon    1  That That (prod. & feat. SUGA of BTS)      싸이 (PSY)
1   Melon    2                              LOVE DIVE     IVE (아이브)
2   Melon    3                                 TOMBOY       (여자)아이들
3   Melon    4                   봄여름가을겨울 (Still Life)  BIGBANG (빅뱅)
4   Melon    5                                 사랑인가 봐          멜로망스
..    ...  ...                                    ...           ...
95  Melon   96                             너의 번호를 누르고           김나영
96  Melon   97                                     서랍          10CM
97  Melon   98                          낙하 (with 아이유)     AKMU (악뮤)
98  Melon   99                              Starlight    태일 (TAEIL)
99  Melon  100                         Christmas Tree             V

[100 rows x 4 columns]

In [11]:
## 크롤링 결과 엑셀 저장
pd_df.to_excel('data/melon.xlsx',index=False)