In [3]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.8/43.8 KB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [18]:
pip install cryptography

Collecting cryptography
  Downloading cryptography-36.0.2-cp36-abi3-win_amd64.whl (2.2 MB)
     ---------------------------------------- 2.2/2.2 MB 5.1 MB/s eta 0:00:00
Requirement already satisfied: cffi>=1.12 in c:\users\djagk\appdata\local\programs\python\python310\lib\site-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in c:\users\djagk\appdata\local\programs\python\python310\lib\site-packages (from cffi>=1.12->cryptography) (2.21)
Installing collected packages: cryptography
Successfully installed cryptography-36.0.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql
#확인...모듈
pymysql.version_info

#db연동을 위한 설정 정보
config={                ##DB연동을 위한 환경변수
    'host':'127.0.0.1',
    'user':'root',
    'password':'0000',
    'database':'work',
    'port':3306,
    'charset':'utf8',
    'use_unicode':True
}

try:
    ##DB연동 객체 생성
    #1. 직접 객체 정보 입력
    #conn=pymysql.connect(host='192.168.219.1',user='root',password=0000,database='work'
    #                ,port=3306,charset='utf8',use_default=True)
    #2. 사전 설정된 정보 적용
    conn=pymysql.connect(**config)
    #SQL문 실행 객체 -커서 객체(curor)
    cursor=conn.cursor()
    #테이블 조회
    sql='show tables'
    cursor.execute(sql)
    tables=cursor.fetchall()
    ##테이블 유무 확인
    if tables:
        print('table있음' ,tables)
    else:
        print('table없음')
except Exception as e:
    print('DB연동 에러 : ',e)
    conn.rollback()
finally:
    cursor.close()
    conn.close()

table있음 (('goods',),)

In [ ]:
#mysql CRUD동작
#1. 기존의 goods테이블 삭제
#2. python코드를 이용하여 DB연결 객체 생성
#3. DB안에 goods라는 테이블 생성
# create table work.goods(
#       code int primary key,
#       name varchar(20) not null,
#       su int,
#       dan int
# )
# 4. 생성된 goods 테이블에 레코드 추가 작성
#   작성시 input을 이용하여 code,name,su,dan을 입력받아서 레코드 추가
# 5. 전체 목록보기(전체 목록을 출력한 후에 전체 목록 개수도 출력)
# 6. 상품명 조회 (상품명을 입력 받아 해당 상품명에 따른 레코드 출력)
import pymysql

config={                ##DB연동을 위한 환경변수
    'host':'127.0.0.1',
    'user':'root',
    'password':'0000',
    'database':'work',
    'port':3306,
    'charset':'utf8',
    'use_unicode':True
}
try:
    #연결 객체 생성
    conn=pymysql.connect(**config)

    #sql동작을 위한 객체 cursor
    cursor=conn.cursor()
    
    #테이블 생성
    sql='''create table if not exists work.goods(
      code int primary key,
      name varchar(20) not null,
      su int,
      dan int
    )'''
    cursor.execute(sql)
    conn.commit()

    #레코드 추가
    code=int(input("코드 입력 : "))
    name=input('상품명 : ')
    su=int(input("수량 : "))
    dan=int(input('단가 : '))
    sql2=f"insert into goods values({code},'{name}',{su},{dan})"
    cursor.execute(sql2)
    conn.commit()

    #전체 레코드 보기
    sql3="select * from goods"
    cursor.execute(sql3)
    rows=cursor.fetchall()

    for row in rows:
        print('-'*30)
        print('상품코드',row[0])
        print('상품명 : ',row[1])
        print('수량 : ',row[2])
        print('단가 : ',row[3])
        print('%d   %s  %d  %d'%row)
    
    #상품명 조회
    name=input("조회할 상품명 : ")
    sql4=f"select * from goods where name like '%{name}%'"
    cursor.execute(sql)
    rows=cursor.fetchall()
    if rows:
        #레코드 한개 이상 존재
        print(row[0],row[1],row[2],row[3])
    else:
        print('상품이 없습니다.')
    
except Exception as e:
    print('DB연동 에러 : ',e)
    conn.rollback()
finally:
    cursor.close()
    conn.close()

In [ ]:
##위 문제를 이용하여 다음과 같은 메뉴로 동작하는 DB프로그램 작성
#---메뉴---
#1. 상품 등록
#2. 상품 조회(전체)
#3. 상품 조회(상품명으로 조회)
#4. 상품 수정(코드로..)
#5. 상품삭제(코드...)
#0. 프로그램 종료

#조건1>각 기능을 함수로 구현하세요
#조건2>반복 기능을 사용하여 구현하세요(while을 이용한 무한반복)
import pymysql

config={                ##DB연동을 위한 환경변수
    'host':'127.0.0.1',
    'user':'root',
    'password':'0000',
    'database':'work',
    'port':3306,
    'charset':'utf8',
    'use_unicode':True
}

def CreateTable():
    try:
        conn=pymysql.connect(**config)
        cursor=conn.cursor()
        sql='''create table if not exists goods(
            code int primary key,
            name varchar(20) not null,
            su int,
            dan int
            )
            '''
        cursor.execute(sql)
        conn.commit()
        
    except Exception as e:
        print('table생성 실패 : ',e)
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
def Insert(code,name,su,dan):
    try:
        conn=pymysql.connect(**config)
        cursor=conn.cursor()
        sql=f"insert into goods values({code},'{name}',{su},{dan})"
        cursor.execute(sql)
        conn.commit()
    except Exception as e:
        print('상품 등록 실패 : ',e)
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
def SelectAll():
    try:
        conn=pymysql.connect(**config)
        cursor=conn.cursor()
        sql='select * from goods'
        cursor.execute(sql)
        rows=cursor.fetchall()
        for row in rows:
            print('-'*30)
            print('상품코드',row[0])
            print('상품명 : ',row[1])
            print('수량 : ',row[2])
            print('단가 : ',row[3])
        
    except Exception as e:
        print('상품목록 출력 실패 : ',e)
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
def SelectOne(name):
    try:
        conn=pymysql.connect(**config)
        cursor=conn.cursor()
        sql=f"select * from goods where name like '%{name}%'"
        cursor.execute(sql)
        rows=cursor.fetchall()
        for row in rows:
            print('-'*30)
            print('상품코드',row[0])
            print('상품명 : ',row[1])
            print('수량 : ',row[2])
            print('단가 : ',row[3])
    except Exception as e:
        print('특정 상품 출력 실패: ',e)
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
def Update(code):
    try:
        conn=pymysql.connect(**config)
        cursor=conn.cursor()
        name=input("바꿀 상품명 :")
        su=int(input("바꿀 수량 : "))
        dan=int(input("바꿀 단가 : "))
        sql=f"update goods set name='{name}',su={su},dan={dan} where code={code}"
        cursor.execute(sql)
        conn.commit()
        
    except Exception as e:
        print('수정 실패 : ',e)
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
def Delete(code):
    try:
        conn=pymysql.connect(**config)
        cursor=conn.cursor()
        sql=f"delete from goods where code={code}"
        cursor.execute(sql)
        conn.commit()
        
    except Exception as e:
        print('삭제 실패 : ',e)
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
import os
while True:
        os.system('cls')
        print("""#---메뉴---
        #1. 상품 등록
        #2. 상품 조회(전체)
        #3. 상품 조회(상품명으로 조회)
        #4. 상품 수정(코드로..)
        #5. 상품삭제(코드...)
        #0. 프로그램 종료""")
        CreateTable()
        a=int(input('번호 입력 : '))
        match a:
            case 1:
                code=int(input("상품 번호 : "))
                name=input('상품명 : ')
                su=int(input("수량 : "))
                dan=int(input('단가 : '))
                Insert(code,name,su,dan)
                
            case 2:
                SelectAll()                
            case 3:
                name=input("검색할 상품명 : ")
                SelectOne(name)
                
            case 4:
                code=int(input("수정할 상품 번호 : "))
                Update(code)
                
            case 5:
                code=int(input("수정할 상품 번호 : "))
                Delete(code)
                
            case 0:
                os.system("pause")
                break

In [23]:
#위 함수 클래스 생성
import pymysql
config={                ##DB연동을 위한 환경변수
    'host':'127.0.0.1',
    'user':'root',
    'password':'0000',
    'database':'work',
    'port':3306,
    'charset':'utf8',
    'use_unicode':True
}

class Product:
    def __init__(self,config):
        self.config=config
        self.conn=pymysql.connect(**self.config)
        self.cursor=self.conn.cursor()
        print('객체 생성 확인 : ',self.conn)
        print('커서 객체 확인 : ',self.cursor)
    def SelectAll(self):
        sql='select * from goods'
        self.cursor.execute(sql)
        rows=self.cursor.fetchall()
        for row in rows:
            print('-'*30)
            print('상품코드',row[0])
            print('상품명 : ',row[1])
            print('수량 : ',row[2])
            print('단가 : ',row[3])
            
            
        
x=Product(config)
x.SelectAll()

객체 생성 확인 :  <pymysql.connections.Connection object at 0x0000029224F1AA70>
커서 객체 확인 :  <pymysql.cursors.Cursor object at 0x0000029224F1BD30>
------------------------------
상품코드 1111
상품명 :  nike
수량 :  2
단가 :  50000
------------------------------
상품코드 2222
상품명 :  addidas
수량 :  3
단가 :  100000
------------------------------
상품코드 3333
상품명 :  puma
수량 :  1
단가 :  70000
------------------------------
상품코드 4444
상품명 :  bans
수량 :  4
단가 :  55000
------------------------------
상품코드 5555
상품명 :  kiki
수량 :  6
단가 :  5000
------------------------------
상품코드 6666
상품명 :  pip
수량 :  4
단가 :  89000